html {
    font-size: 4vw;
}

html, body {
    padding: 0;
    margin: 20%;
    height: 0%
}

body {
    color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    width: 1em; height: 1em;
    fill: currentColor;
}

.circle {
    font-size: 8rem;
    position: relative;
    left: 0;
}

div {
    height: 160vh;
    width: 0vh;
}

.circle {
    animation-name: move-circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes move-circle {
    0% {
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/a2/b0/9e/a2b09ed22479262cc03e3b76fc913780.png");
        background-size: cover;
        top: 0;
    }
    100%   {
        background-image: url("https://s-media-cache-ak0.pinimg.com/originals/a2/b0/9e/a2b09ed22479262cc03e3b76fc913780.png");
        background-size: cover;
        top: 100%;
    }
}